.metadata
/.metadata/*.lock
/.metadata/*.log
/.metadata/.mylyn/.taskListIndex/*.gen
/.metadata/.mylyn/.taskListIndex/*
/.metadata/.mylyn/*.zip
/.metadata/.plugins/org.eclipse.core.resources/.history/1/*
/.metadata/.plugins/org.eclipse.core.resources/.history/11/*
/.metadata/.plugins/org.eclipse.core.resources/.history/13/*
/.metadata/.plugins/org.eclipse.core.resources/.history/14/*
/.metadata/.plugins/org.eclipse.core.resources/.history/15/*
/.metadata/.plugins/org.eclipse.core.resources/.history/18/*
/.metadata/.plugins/org.eclipse.core.resources/.history/1a/*
/.metadata/.plugins/org.eclipse.core.resources/.history/1c/*
/.metadata/.plugins/org.eclipse.core.resources/.history/1e/*
/.metadata/.plugins/org.eclipse.core.resources/.history/2/*
/.metadata/.plugins/org.eclipse.core.resources/.history/20/*
/.metadata/.plugins/org.eclipse.core.resources/.history/25/*
/.metadata/.plugins/org.eclipse.core.resources/.history/26/*
/.metadata/.plugins/org.eclipse.core.resources/.history/28/*
/.metadata/.plugins/org.eclipse.core.resources/.history/3/*
/.metadata/.plugins/org.eclipse.core.resources/.history/31/*
/.metadata/.plugins/org.eclipse.core.resources/.history/34/*
/.metadata/.plugins/org.eclipse.core.resources/.history/37/*
/.metadata/.plugins/org.eclipse.core.resources/.history/3a/*
/.metadata/.plugins/org.eclipse.core.resources/.history/3b/*
/.metadata/.plugins/org.eclipse.core.resources/.history/3c/*
/.metadata/.plugins/org.eclipse.core.resources/.history/3e/*
/.metadata/.plugins/org.eclipse.core.resources/.history/40/*
/.metadata/.plugins/org.eclipse.core.resources/.history/42/*
/.metadata/.plugins/org.eclipse.core.resources/.history/43/*
/.metadata/.plugins/org.eclipse.core.resources/.history/48/*
/.metadata/.plugins/org.eclipse.core.resources/.history/49/*
/.metadata/.plugins/org.eclipse.core.resources/.history/4a/*
/.metadata/.plugins/org.eclipse.core.resources/.history/5/*
/.metadata/.plugins/org.eclipse.core.resources/.history/50/*
/.metadata/.plugins/org.eclipse.core.resources/.history/59/*
/.metadata/.plugins/org.eclipse.core.resources/.history/61/*
/.metadata/.plugins/org.eclipse.core.resources/.history/62/*
/.metadata/.plugins/org.eclipse.core.resources/.history/63/*
/.metadata/.plugins/org.eclipse.core.resources/.history/67/*
/.metadata/.plugins/org.eclipse.core.resources/.history/6b/*
/.metadata/.plugins/org.eclipse.core.resources/.history/6d/*
/.metadata/.plugins/org.eclipse.core.resources/.history/6f/*
/.metadata/.plugins/org.eclipse.core.resources/.history/72/*
/.metadata/.plugins/org.eclipse.core.resources/.history/73/*
/.metadata/.plugins/org.eclipse.core.resources/.history/75/*
/.metadata/.plugins/org.eclipse.core.resources/.history/77/*
/.metadata/.plugins/org.eclipse.core.resources/.history/7c/*
/.metadata/.plugins/org.eclipse.core.resources/.history/8b/*
/.metadata/.plugins/org.eclipse.core.resources/.history/8d/*
/.metadata/.plugins/org.eclipse.core.resources/.history/8f/*
/.metadata/.plugins/org.eclipse.core.resources/.history/90/*
/.metadata/.plugins/org.eclipse.core.resources/.history/91/*
/.metadata/.plugins/org.eclipse.core.resources/.history/92/*
/.metadata/.plugins/org.eclipse.core.resources/.history/97/*
/.metadata/.plugins/org.eclipse.core.resources/.history/99/*
/.metadata/.plugins/org.eclipse.core.resources/.history/9a/*
/.metadata/.plugins/org.eclipse.core.resources/.history/9f/*
/.metadata/.plugins/org.eclipse.core.resources/.history/a0/*
/.metadata/.plugins/org.eclipse.core.resources/.history/a2/*
/.metadata/.plugins/org.eclipse.core.resources/.history/a3/*
/.metadata/.plugins/org.eclipse.core.resources/.history/a4/*
/.metadata/.plugins/org.eclipse.core.resources/.history/a7/*
/.metadata/.plugins/org.eclipse.core.resources/.history/a9/*
/.metadata/.plugins/org.eclipse.core.resources/.history/ad/*
/.metadata/.plugins/org.eclipse.core.resources/.history/b/*
/.metadata/.plugins/org.eclipse.core.resources/.history/b0/*
/.metadata/.plugins/org.eclipse.core.resources/.history/b1/*
/.metadata/.plugins/org.eclipse.core.resources/.history/b4/*
/.metadata/.plugins/org.eclipse.core.resources/.history/b5/*
/.metadata/.plugins/org.eclipse.core.resources/.history/b8/*
/.metadata/.plugins/org.eclipse.core.resources/.history/b9/*
/.metadata/.plugins/org.eclipse.core.resources/.history/bd/*
/.metadata/.plugins/org.eclipse.core.resources/.history/bf/*
/.metadata/.plugins/org.eclipse.core.resources/.history/c/*
/.metadata/.plugins/org.eclipse.core.resources/.history/c3/*
/.metadata/.plugins/org.eclipse.core.resources/.history/c7/*
/.metadata/.plugins/org.eclipse.core.resources/.history/cb/*
/.metadata/.plugins/org.eclipse.core.resources/.history/cc/*
/.metadata/.plugins/org.eclipse.core.resources/.history/cd/*
/.metadata/.plugins/org.eclipse.core.resources/.history/ce/*
/.metadata/.plugins/org.eclipse.core.resources/.history/cf/*
/.metadata/.plugins/org.eclipse.core.resources/.history/d0/*
/.metadata/.plugins/org.eclipse.core.resources/.history/d2/*
/.metadata/.plugins/org.eclipse.core.resources/.history/d3/*
/.metadata/.plugins/org.eclipse.core.resources/.history/d5/*
/.metadata/.plugins/org.eclipse.core.resources/.history/d6/*
/.metadata/.plugins/org.eclipse.core.resources/.history/d7/*
/.metadata/.plugins/org.eclipse.core.resources/.history/da/*
/.metadata/.plugins/org.eclipse.core.resources/.history/dd/*
/.metadata/.plugins/org.eclipse.core.resources/.history/e4/*
/.metadata/.plugins/org.eclipse.core.resources/.history/e5/*
/.metadata/.plugins/org.eclipse.core.resources/.history/e6/*
/.metadata/.plugins/org.eclipse.core.resources/.history/e7/*
/.metadata/.plugins/org.eclipse.core.resources/.history/e8/*
/.metadata/.plugins/org.eclipse.core.resources/.history/ed/*
/.metadata/.plugins/org.eclipse.core.resources/.history/f0/*
/.metadata/.plugins/org.eclipse.core.resources/.history/fd/*
/.metadata/.plugins/org.eclipse.core.resources/.history/ff/*
/.metadata/.plugins/org.eclipse.core.resources/.projects/GradleProject/.indexes/e4/92/22/e4/b9/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/GradleProject/.indexes/e4/b9/22/96/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/GradleProject/.indexes/e4/b9/22/9c/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/GradleProject/.indexes/e4/b9/22/b5/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/GradleProject/.indexes/e4/b9/22/e4/b9/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/GradleProject/.indexes/e4/b9/b3/a8/6e/47/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/GradleProject/.indexes/e4/b9/b3/a8/6e/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/GradleProject/.indexes/e4/b9/b3/a8/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/GradleProject/.indexes/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/GradleProject/org.eclipse.egit.core/*.properties
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/*.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/*.index
/.metadata/.plugins/org.eclipse.core.resources/.safetable/*.resources
/.metadata/.plugins/org.eclipse.core.runtime/.settings/*.prefs
/.metadata/.plugins/org.eclipse.debug.core/.launches/*.launch
/.metadata/.plugins/org.eclipse.debug.ui/*.xml
/.metadata/.plugins/org.eclipse.dltk.core/*.dat
/.metadata/.plugins/org.eclipse.e4.workbench/*.xmi
/.metadata/.plugins/org.eclipse.egit.ui/*.xml
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/*.fdt
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/*.fdx
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/*.fnm
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/*.frq
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/*.nrm
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/*.tii
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/*.tis
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/*.gen
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/*
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/*.lock
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/*.fdt
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/*.fdx
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/*.tis
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/*.fnm
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/*.frq
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/*.nrm
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/*.prx
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/*.tii
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/*.gen
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/*
/.metadata/.plugins/org.eclipse.equinox.p2.ui/*.xml
/.metadata/.plugins/org.eclipse.jdt.core/*.index
/.metadata/.plugins/org.eclipse.jdt.core/*
/.metadata/.plugins/org.eclipse.jdt.core/*.txt
/.metadata/.plugins/org.eclipse.jdt.core/*.dat
/.metadata/.plugins/org.eclipse.jdt.launching/*.xml
/.metadata/.plugins/org.eclipse.jdt.ui/*.xml
/.metadata/.plugins/org.eclipse.jst.j2ee.web/*.index
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2015/7/29/*.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2015/7/29/*.index
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/GradleProject/2015/7/29/*.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/GradleProject/2015/7/29/*.index
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/MUSHOPL/2015/7/29/*.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/MUSHOPL/2015/7/29/*.index
/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/*.xml
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/*.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/*.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/*.gen
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/*
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/*.lock
/.metadata/.plugins/org.eclipse.m2e.core/nexus/5c1efabf94647a581f534ef117a401cb/*.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/5c1efabf94647a581f534ef117a401cb/*.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/5c1efabf94647a581f534ef117a401cb/*.gen
/.metadata/.plugins/org.eclipse.m2e.core/nexus/5c1efabf94647a581f534ef117a401cb/*
/.metadata/.plugins/org.eclipse.m2e.core/nexus/5c1efabf94647a581f534ef117a401cb/*.lock
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/*.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/*.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/*.gen
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/*
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/*.lock
/.metadata/.plugins/org.eclipse.m2e.core/*.ser
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/*.log
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/*.xml
/.metadata/.plugins/org.eclipse.oomph.setup.ui/*.xml
/.metadata/.plugins/org.eclipse.oomph.setup/*.setup
/.metadata/.plugins/org.eclipse.pde.core/.cache/*.properties
/.metadata/.plugins/org.eclipse.ui.editors/*.xml
/.metadata/.plugins/org.eclipse.ui.ide/*.xml
/.metadata/.plugins/org.eclipse.ui.workbench/*.xml
/.metadata/.plugins/org.eclipse.wst.internet.cache/*.xml
/.metadata/.plugins/org.eclipse.wst.jsdt.core/*
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/*.js
/.metadata/.plugins/org.eclipse.wst.jsdt.core/*.dat
/.metadata/.plugins/org.eclipse.wst.jsdt.ui/*.xml
/.metadata/.plugins/org.eclipse.wst.sse.core/*.properties
/.metadata/.plugins/org.eclipse.wst.sse.ui/*.xml
/.metadata/.plugins/org.eclipse.wst.xml.core/*.xml
/.metadata/.plugins/org.eclipse.wst.xml.ui/*.xml
/.metadata/.plugins/org.springsource.ide.eclipse.gradle.core/*
/.metadata/.plugins/org.tigris.subversion.subclipse.ui/*.xml
/.metadata/*.ini
/GradleProject/.gradle/2.5/taskArtifacts/*.lock
/GradleProject/.gradle/2.5/taskArtifacts/*.bin
.lock
.log
segments.gen
segments_1
repositories.xml.zip
tasks.xml.zip
20e2b852a32b00151191c68f286302ba
d0302d699c2b0015177eb891240552f2
40c797689f2b00151191c68f286302ba
306de4d2a22b00151191c68f286302ba
80864b18a12b00151191c68f286302ba
209bcfb2a02b00151191c68f286302ba
90c14d25a12b00151191c68f286302ba
40cb367f9f2b00151191c68f286302ba
e0fb66a1a42b00151191c68f286302ba
703c0481982b0015177eb891240552f2
c0cff95ca22b00151191c68f286302ba
00f99e819c2b0015177eb891240552f2
9048b033a42b00151191c68f286302ba
608eeb1e9a2b0015177eb891240552f2
c075ec43a02b00151191c68f286302ba
a00f66d7a02b00151191c68f286302ba
7097ef4b962b0015177eb891240552f2
e0edf66d9c2b0015177eb891240552f2
a046a74da32b00151191c68f286302ba
a0fa4a13a42b00151191c68f286302ba
c0e2d975a52b00151191c68f286302ba
d0d1a44ba12b00151191c68f286302ba
509dca229a2b0015177eb891240552f2
7062b64fa12b00151191c68f286302ba
30fd8ff1a22b00151191c68f286302ba
1057f2719f2b00151191c68f286302ba
a0a87ac5a02b00151191c68f286302ba
10bbdd37a32b00151191c68f286302ba
800d1d839c2b0015177eb891240552f2
b0f7b35ca32b00151191c68f286302ba
10cb778da32b00151191c68f286302ba
b0136182a02b00151191c68f286302ba
30c67a4aa02b00151191c68f286302ba
c0986e1ca02b00151191c68f286302ba
90af8af8982b0015177eb891240552f2
30bd8714a02b00151191c68f286302ba
109a332fa42b00151191c68f286302ba
b03bfb83a02b00151191c68f286302ba
200c3ccba02b00151191c68f286302ba
904ac397a32b00151191c68f286302ba
100d47cfa02b00151191c68f286302ba
8049bd8aa42b00151191c68f286302ba
c07217f49f2b00151191c68f286302ba
2088744ba32b00151191c68f286302ba
207efabda02b00151191c68f286302ba
50027410a32b00151191c68f286302ba
903d100ca42b00151191c68f286302ba
a0d4a509a12b00151191c68f286302ba
90a8e058a32b00151191c68f286302ba
b0434949a32b00151191c68f286302ba
a073c1cca02b00151191c68f286302ba
c05b1b23a22b00151191c68f286302ba
0077315da12b00151191c68f286302ba
2074fae0a02b00151191c68f286302ba
b00250dea22b00151191c68f286302ba
3081d647a02b00151191c68f286302ba
60bc4d9d9f2b00151191c68f286302ba
903bbb47a12b00151191c68f286302ba
90eec106a12b00151191c68f286302ba
50ed5779a22b00151191c68f286302ba
a0bb0aaaa02b00151191c68f286302ba
5099a34ba12b00151191c68f286302ba
b0724a5da02b00151191c68f286302ba
90b4f4fba32b00151191c68f286302ba
c0f7dc37a32b00151191c68f286302ba
2057f73aa32b00151191c68f286302ba
50a6dfdb9f2b00151191c68f286302ba
f018b8969f2b00151191c68f286302ba
c06ed6e5a22b00151191c68f286302ba
40bc5e15a02b00151191c68f286302ba
60dc3aa4a42b00151191c68f286302ba
104bf36ea32b00151191c68f286302ba
90444283a32b00151191c68f286302ba
20ef779b982b0015177eb891240552f2
c01c66f3a22b00151191c68f286302ba
301b6448a02b00151191c68f286302ba
b0c6716f9f2b00151191c68f286302ba
c02127fe9f2b00151191c68f286302ba
c04ec197a32b00151191c68f286302ba
20706061a02b00151191c68f286302ba
30780360a02b00151191c68f286302ba
506ff14ea22b00151191c68f286302ba
9075839da32b00151191c68f286302ba
50a8c1d99f2b00151191c68f286302ba
f0bcdd90a42b00151191c68f286302ba
0041c51fa42b00151191c68f286302ba
10b894a1a32b00151191c68f286302ba
10c67604a12b00151191c68f286302ba
205ab7cca32b00151191c68f286302ba
30c09e719c2b0015177eb891240552f2
10453f4e9c2b0015177eb891240552f2
1026250fa12b00151191c68f286302ba
109753dea02b00151191c68f286302ba
109ac752a12b00151191c68f286302ba
c0a35124a02b00151191c68f286302ba
b0a19f4ba12b00151191c68f286302ba
60648a29a22b00151191c68f286302ba
507a2074a22b00151191c68f286302ba
20f29588a32b00151191c68f286302ba
b0f89f719c2b0015177eb891240552f2
90d5c78fa32b00151191c68f286302ba
a05e5645a32b00151191c68f286302ba
30d4cf73a02b00151191c68f286302ba
902c8adda02b00151191c68f286302ba
202ffc5da32b00151191c68f286302ba
c0a27e20a02b00151191c68f286302ba
10cc2c96a32b00151191c68f286302ba
90734217a42b00151191c68f286302ba
108128fa982b0015177eb891240552f2
b03aa756a02b00151191c68f286302ba
00e041bea32b00151191c68f286302ba
601ab4e4982b0015177eb891240552f2
c0d7856ba52b00151191c68f286302ba
30d8e150a32b00151191c68f286302ba
a07edba4a32b00151191c68f286302ba
a0c5724ca02b00151191c68f286302ba
c04fc15ba22b00151191c68f286302ba
a06e4675a02b00151191c68f286302ba
30b66a5ba02b00151191c68f286302ba
50a212a39f2b00151191c68f286302ba
a003ce37a32b00151191c68f286302ba
4087c297a32b00151191c68f286302ba
history.index
properties.index
GitProjectData.properties
history.version
properties.version
org.eclipse.core.resources
com.collabnet.subversion.merge.prefs
org.eclipse.core.resources.prefs
org.eclipse.debug.ui.prefs
org.eclipse.e4.ui.css.swt.theme.prefs
org.eclipse.e4.ui.workbench.renderers.swt.prefs
org.eclipse.egit.core.prefs
org.eclipse.epp.logging.aeri.ui.prefs
org.eclipse.epp.mpc.ui.prefs
org.eclipse.jdt.core.prefs
org.eclipse.jdt.launching.prefs
org.eclipse.jdt.ui.prefs
org.eclipse.jsch.core.prefs
org.eclipse.jst.j2ee.webservice.ui.prefs
org.eclipse.m2e.discovery.prefs
org.eclipse.mylyn.context.core.prefs
org.eclipse.mylyn.monitor.ui.prefs
org.eclipse.mylyn.tasks.ui.prefs
org.eclipse.oomph.setup.ui.prefs
org.eclipse.pde.api.tools.prefs
org.eclipse.php.core.prefs
org.eclipse.php.debug.core.prefs
org.eclipse.php.server.core.prefs
org.eclipse.team.svn.core.prefs
org.eclipse.team.svn.ui.prefs
org.eclipse.team.ui.prefs
org.eclipse.ui.editors.prefs
org.eclipse.ui.ide.prefs
org.eclipse.ui.prefs
org.eclipse.ui.workbench.prefs
org.eclipse.wst.jsdt.ui.prefs
org.eclipse.wst.jsdt.web.core.prefs
org.eclipse.wst.sse.ui.prefs
org.eclipse.wst.ws.service.policy.prefs
org.eclipse.wst.xml.ui.prefs
org.springsource.ide.eclipse.gradle.core.prefs
org.tigris.subversion.subclipse.tools.usage.prefs
org.tigris.subversion.subclipse.ui.prefs
org.zeroturnaround.eclipse.prefs
GradleProject.launch
dialog_settings.xml
launchConfigurationHistory.xml
Containers.dat
workbench.xmi
_0.fdt
_0.fdx
_0.fnm
_0.frq
_0.nrm
_0.tii
_0.tis
write.lock
_1.fdt
_1.fdx
_1.fnm
_1.frq
_1.nrm
_1.prx
_1.tii
_1.tis
segments_2
1017853417.index
1045485630.index
115418958.index
1280393010.index
1337478678.index
1561925084.index
1787405673.index
1814877029.index
1995697755.index
2456430202.index
2535676096.index
2674037006.index
2741906485.index
296706947.index
2978305168.index
3045053200.index
3108651149.index
323251068.index
3265440894.index
3518241292.index
355369697.index
3604769962.index
3648810912.index
3656756579.index
3676256074.index
367763925.index
3715905147.index
3716007315.index
3723539909.index
3954291735.index
4187470955.index
533208796.index
605290374.index
621855121.index
994834796.index
996736277.index
assumedExternalFilesCache
externalFilesCache
externalLibsTimeStamps
indexNamesMap.txt
javaLikeNames.txt
nonChainingJarsCache
savedIndexNames.txt
variablesAndContainers.dat
.install.xml
libraryInfos.xml
OpenTypeHistory.xml
QualifiedTypeNameHistory.xml
webLibrariesCache.index
refactorings.history
refactorings.index
_0.cfs
_0_1.del
_1.cfs
segments_3
workspaceState.ser
0.log
logback.1.6.1.20150625-2338.xml
workspace.setup
clean-cache.properties
workingsets.xml
cache.xml
baseBrowserLibrary.js
browserWindow.js
dom5.js
system.js
xhr.js
task-tags.properties
default_catalog.xml
system_catalog.xml
gradleWSState
version.ini
cache.properties.lock
fileHashes.bin
fileSnapshots.bin
taskArtifacts.bin
